<div class="searches_header">
  <h1>New search</h1>
  <h2>
    <%= link_to_if params[:dates].to_s.to_i != 1, 'with', :dates => "1" %> or
    <%= link_to_if params[:dates].to_s.to_i != 0, 'without', :dates => nil %> dates
  </h2>
</div>

<div class="searches_list">
  <%= render 'form' %>
</div>
<div class="nav">
  or
  <%= link_to 'Go back', searches_path %>
</div>
