@import "directives.css.scss";

div.searches_header {
  margin: 5px 0;
}

div.search_controls {
  float: left;
  padding: 10px 0;
}

div#map_wrapper {
  float: left;
  width: 730px;
  height: 415px;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
}

div#map {
  width: 730px;
  height: 415px;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

div.option {
  float: left;
  display: table;
  width: 243px;
  height: 24px;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 0;
  div.label {
    display: table-cell;
    height: 25px;
    vertical-align: middle;
    @include gradient-background-horizontal($left-option-color, #fff);
    padding: 0 4px;
  }
  div.value {
    display: table-cell;
    height: 25px;
    vertical-align: middle;
    padding-right: 2px;
    text-align: right;
    input[type=text] {
      width: 100px;
    }
  }
}

div.double_width {
  width: 487px;
}

div.smaller_value {
  div.value {
    font-size: 10px;
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

div.search_item {
  @include rounded-corners(5px);
  padding: 4px;
  margin: 2px;
  background: #e8e8e8;
}

a#new_search_link {
  @include rounded-corners(3px);
  @include gradient-background-horizontal(#fff, $left-option-color);
  display: inline-block;
  height: 20px;
  width: 100px;
  padding: 5px;
  img {
    vertical-align: middle;
  }
}

div.nav {
  form {
    display: inline-block;
  }
}

div.search_item{
  position: relative;
  a {
    text-decoration: none;
    border: 1px solid silver;
    padding: 2px 4px 4px 4px;
    margin: 2px;
    @include rounded-corners(10px);
    &:hover {
      background: #B9B9B9;
    };
  }
}

div.time {
  margin: 3px;
  padding: 3px;
}

div.benchmarks_graph_bar {
  width: 950px;
  margin: 10px;
  span {
    display: inline-block;
    padding: 0 3px;
    text-align: center;
    margin: 0;
    &.loading_time {
      background-color: #B8FFB7;
      border: 1px solid darken(#B8FFB7, 20%);
    }
    &.saving_time {
      background-color: #FFEAB5;
      border: 1px solid darken(#FFEAB5, 20%);
    }
    &.client_processing_time {
      background-color: #FFB0B6;
      border: 1px solid darken(#FFB0B6, 20%);
    }
    &.server_processing_time {
      background-color: #A5CFFF;
      border: 1px solid darken(#A5CFFF, 20%);
    }
  }
}

div.links {
  margin: 5px auto;
}

div.delete_link {
  position: absolute;
  top: 5px;
  right: 5px;
}

div.keywords {
  font-weight: bold;
  border: 1px solid silver;
  margin: 3px;
  padding: 3px;
  background: #F6F6F6;
  position: relative;
}

span.red_bubble {
  position: absolute;
  top: -6px;
  right: -4px;
  font-size: 8px;
  font-weight: normal;
  background: red;
  padding: 0 4px;
  color: white;
  @include rounded-corners(4px);
}