@import "directives.css.scss";

div.searches_header {
  margin: 5px 0;
}

div.search_controls {
  float: left;
  padding: 10px 0;
}

div#map_wrapper {
  float: left;
  width: 730px;
  height: 415px;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
}

div#map {
  width: 730px;
  height: 415px;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

div.search_item {
  @include rounded-corners(5px);
  padding: 4px;
  margin: 2px;
  background: #dddddd;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

div.option {
  float: left;
  display: table;
  width: 244px;
  height: 24px;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 0;
  div.label {
    display: table-cell;
    height: 25px;
    vertical-align: middle;
    @include gradient-background-horizontal($left-option-color, #fff);
    padding: 0 4px;
  }
  div.value {
    display: table-cell;
    height: 25px;
    vertical-align: middle;
    padding-right: 2px;
    text-align: right;
    input[type=text] {
      width: 100px;
    }
  }
}

div.double_width {
  width: 488px;
}

div.smaller_value {
  div.value {
    font-size: 10px;
  }
}
