<div id="<%= label %>_option" class="option">
  <div id="<%= label %>_label" class="label">
    <%= label_tag label %>
  </div>
  <div id="keywords_control" class="control text_box">
    <%= yield %>
  </div>
</div>